.services {
    background-color: black;
    color: white;
}

hr {
    height: 2px;
    background-image: -webkit-linear-gradient(left, black, white, white, black);
}

.myserviceText {
    text-align: center;

}

.myserviceText span {
    color: rgb(211, 23, 111);
}

.serviceIcon {
    color: rgb(211, 23, 111);   
}

.serviceIcon span {
    color: rgb(211, 23, 111);
}

.service {
    transition: 1s;
}

.service:hover {
    background-color: rgb(211, 23, 111);
    transform: scale(1.1);
    cursor: pointer;
}

.service:hover .serviceIcon {
    color: white;
}

.service:hover .serviceIcon span {
    border-color: white;
} 