.contact {
    background-color: black;
}

hr {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 0, 0));
}

.contact button {
    color: rgb(226, 63, 34);
    border: 1px solid rgb(226, 63, 34);
    background-color:  transparent;
}

.contact button:hover {
    color: white;
    background-color:  rgb(226, 63, 34);
}

@media screen and (min-width: 769px) {
    .mx-md-auto {
        width: 50%;
    }
}