.navbar {
    background: rgb(71, 10, 10);
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 63, 34);
}

.navbar li {
    padding: 0px 20px;
}

.navbar li a {
    color: white;
    font-weight: bold;
}

.navbar li a:hover {
    color: rgb(226, 63, 34);
}